* {
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url("img/vistasJun.jpeg") no-repeat center center/cover;
  /* background-image: url('img/vistasJun.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.cargaTexto {
  font-size: 50px;
  color: azure;
}
